/*!
Theme Name:   Yuki News Magazine Premium
Theme URI:    https://www.wpmoose.com/themes/yuki-news-magazine/
Author:       WP Moose
Author URI:   https://www.wpmoose.com
Description:  Yuki News Magazine is a modern and highly customizable theme. It's a child theme of Yuki. It is optimized for online magazines, newspaper, news portals, content publishers. You can fully customize your site with the built-in easy-to-use and intuitive Homepage Builder.
Template:     yuki-premium
Version:      1.0.1
Tested up to: 6.4
Requires PHP: 7.2
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  yuki-news-magazine
Tags: news, blog, portfolio, grid-layout, one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, block-styles, custom-background, custom-colors, custom-header, custom-logo, custom-menu, editor-style, featured-image-header, featured-images, footer-widgets, full-width-template, rtl-language-support, sticky-post, threaded-comments, theme-options, translation-ready, wide-blocks
*/
